html, body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: 'Microsoft YaHei';
}

* {
  padding: 0;
  margin: 0;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

article {
  flex: 1;
  display: flex;
  width: 100%;
  overflow-y: auto;
}

header {
  height: 4.4rem;
  width: 100%;
}

footer {
  height: 4.4rem;
  width: 100%;
}
